<h1>Please sign up</h1>

<body>
  <form action="/users/new" method="post">
    <label for="user_name">User Name:
    <input type="text" name="user_name"
    value="<%= @user.user_name %>"
    placeholder="Enter username"></label>

    <label for="password">Password:
    <input type="password" name="password"
    placeholder="Enter password"></label>

    <label for="password_confirmation">Confirm password:
    <input type="password" name="password_confirmation"
    placeholder="Confirm password"></label>

    <label for="email">Email:
    <input type="email" name="email"
    value="<%= @user.email %>"
    placeholder="Enter email" required></label>

    <input type="submit" name="Sign up" value="Sign up">
  </form>
</body>
